h1 {
	color: blue;
}

h2 {
	color: brown;
}

label {
	font-weight: bold;
	font-style: italic;
}

.jumbotron {
	/* min-height: 100vh; */
	padding-top: 32px;
	padding-bottom: 32px;
}
nav {
	color: white;
}
nav b,
nav a {
	color: white;
}

.float-right {
	padding-left: 400px;
}
