<div clas="container-sm" style="padding: 50px 50px 10px">
			<form
				action="/api/productos"
				class="form-signin"
				enctype="application/x-www-form-urlencoded"
				method="POST"
			>
				<h3 style="color: blue">Ingrese <br />Producto</h3>
				<p></p>
				<div class="form-group col-md6">
					Nombre
					<input
						type="text"
						class="form-control"
						name="title"
						placeholder="Producto"
					/>
				</div>
				<div class="form-group">
					Precio
					<input
						type="text"
						class="form-control"
						name="price"
						placeholder="Precio"
					/>
				</div>
				<div class="form-group">
					Foto URL
					<input
						type="text"
						class="form-control"
						name="thumbnail"
						placeholder="http"
					/>
				</div>
				<button type="submit" class="btn btn-success">Submit</button>
			</form>
		</div>