<div class="container text-center my-1">
	<nav class="navbar navbar-light bg-light justify-content-between">
		<a class="navbar-brand" style="color:grey">
			Bienvenido(a),
			{{bienvenido}}!!</a>
		<br />
		<button
			class="btn btn-danger my-5"
			onclick="location.href='/logout'"
		>Desloguear</button>
	</nav>

</div>